<footer>
    <div class="container d-flex bg-color">
      <img src="/img/logo-blanco.svg" alt="">
      <h2>Origen</h2>
      <ul>
        <li>COMIDAS</li>
        <li>INFUSIONES</li>
        <li>CONTACTO</li>
      </ul>
      <form action="" target="_blank">
      <input type="email" placeholder="Ingrese su email">
        <button type="submit" name="">Suscribirse</button>
      </form>
    </div>
</footer>